
#  IDE & OS 관련 파일 (macOS, Windows)
.DS_Store
Thumbs.db

# Node.js 프로젝트 불필요한 폴더 무시 
node_modules/

#  환경 변수 (보안)
.env
.env.local
.env.development
.env.production


# 빌드 결과물 무시 
dist/
build/

# TypeScript 설정 파일 (캐시)
tsconfig.tsbuildinfo

