.Search {
    margin : 0 auto;
    padding-top : 20px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: self-end;
}

.Search input {
    width:300px;
}

.Search button:hover {
    background-color: #efefef;
}

.result-count{
    display:flex;
    flex-direction: column;
    justify-content: center;
}